 /* styles.css */
 body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.bus-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.bus-buttons button:hover {
    cursor: pointer;
    background-color: #ddd;
}